
html {
    scroll-behavior: smooth;
}

body {
    background-color: #a0c4ff;
    color: rgb(126, 126, 126);
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3c87ff;
}

.navbar a{
    color: white;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}


.navbar-brand:hover {
    border-bottom: 3px solid white;
    transition: box-shadow 0.06s linear;
}

h5 {
    margin: 0;
    color: white;
}

nav ul, .frontend ul, .backend ul {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    margin: 0
}

.home {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    border-radius: 10px; 
    width: 50px;
    height: 50px;
    font-size: 39px;
    -webkit-appearance: none;
    white-space: nowrap;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 4%;
}

button {
    background-color: white;
    width: 120px;
    height: 40px;
    color: rgb(126, 126, 126);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    white-space: nowrap;
}

.buttons a{
    padding: 5px
}

button:hover {
    outline-color: rgb(155, 155, 155);
    outline-style: solid;
    outline-width: 2px;
    transition: 0.06s;
}

button:focus {
    outline-color: rgb(155, 155, 155);
    outline-style: solid;
    outline-width: 2px;
    transition: 0.06s;
}

#about {
    margin-top: 5%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selfie {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 4%;
}

#skills {
    margin-top: 3%;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(#ffdee1, #e18d96);
    margin: 0 4% 4% 4%
}

.projects, .frontend, .backend {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frontend h2 {
    padding-top: 4%;
    margin: 0;
}

.backend {
    padding-bottom: 4%;
}

.frontend ul, .backend ul {
    margin: auto;
    align-items: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.frontend li, .backend li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.projects img {
    height: 300px;
    width: 400px
}

.Collect-em-All, .Beefy-Bois-Diner  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(#fafce2, #fdffb6);
    color: rgb(148, 148, 148);
    margin: 0 4% 4% 4%
}

.Pokemon-TCG-Collector, .Planner-Getaway {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(#e7ffe2, #caffbf);
    color: rgb(148, 148, 148);
    margin: 0 4% 4% 4%
}

.Planner-Getaway .content, .Pokemon-TCG-Collector .content{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Planner-Getaway .demo, .Pokemon-TCG-Collector .demo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 5% 5% 0;
}

.Beefy-Bois-Diner {
    background: linear-gradient(#ddf9fc, #9bf6ff );
}

.Collect-em-All .demo, .Beefy-Bois-Diner .demo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0 5% 5%;
}

.Collect-em-All .content, .Beefy-Bois-Diner .content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Planner-Getaway {
    background: linear-gradient(#ffeeff, #ffc6ff);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

@media only screen and (max-width: 878px) {
    .frontend ul, .backend ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .projects img {
        height: 260px;
        width: 320px;
        padding: 0
    }
    .Collect-em-All, .Pokemon-TCG-Collector, .Planner-Getaway, .Beefy-Bois-Diner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Collect-em-All .demo, .Planner-Getaway .demo, .Pokemon-TCG-Collector .demo, .Beefy-Bois-Diner .demo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 5% 0;
    }
    .Collect-em-All .demo, .Beefy-Bois-Diner .demo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5% 0 0 0;
    }
}